{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
  <form class="form-signin" role="form" name="login" action="/login" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="usrname" class="sr-only">Email address</label>
    <input type="text" id="usrname" name="usrname" class="form-control" placeholder="Email address" required autofocus>
    <br>
    <label for="psw" class="sr-only">Password</label>
    <input type="password" id="psw" name="psw" class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
{% endblock %}